<section class="doctor-list-section">
  <h2>Danh sách Bác sĩ - Chuyên gia</h2>

  <div class="doctor-card">
    <img src="/src/assets/image/bs5.jpg" alt="PGS Hoàng Đăng Mịch">
    <div class="doctor-info">
      <h3>Hoàng Đăng Mịch</h3>

      <ul>
        <li>🎓 Giáo sư, Phó giáo sư, Tiến sĩ</li>
        <li>🩺 Nội tiết</li>
        <li>🏥 Khoa khám bệnh & Nội khoa</li>
      </ul>
      <button class="btn-book">Đăng ký khám</button>
    </div>
  </div>

  <div class="doctor-card">
    <img src="/src/assets/image/bs1.jpg" alt="GS Đỗ Tất Cường">
    <div class="doctor-info">
      <h3> Đỗ Thị Kim Ngân  </h3>
      <ul>
        <li>🎓 Giáo sư, Tiến sĩ</li>
        <li>🩺 Tim mạch</li>
        <li>🏥 Khoa Hồi sức cấp cứu </li>
      </ul>
      <button class="btn-book">Đăng ký khám</button>
    </div>
  </div>

  <div class="doctor-card">
    <img src="/src/assets/image/bs3.jpg" alt="Nguyễn Thanh Liêm">
    <div class="doctor-info">
      <h3>Nguyễn Thanh Liêm</h3>
      <ul>
        <li>🎓 Giáo sư, Tiến sĩ, Bác sĩ y khoa</li>
        <li>🩺 Nhi</li>
        <li>🏥 Khoa Y học tái tạo & Trị liệu tế bào </li>
      </ul>
      <button class="btn-book">Đăng ký khám</button>
    </div>
  </div>

  <div class="doctor-card">
    <img src="/src/assets/image/bs6.jpg" alt="Trần Trung Dũng">
    <div class="doctor-info">
      <h3>Trần Huyền Châu</h3>
      <ul>
        <li>🎓 Giáo sư, Tiến sĩ, Bác sĩ y khoa</li>
        <li>🩺 Ngoại chấn thương chỉnh hình</li>
        <li>🏥 Trung tâm Chấn thương chỉnh hình </li>
      </ul>
      <button class="btn-book">Đăng ký khám</button>
    </div>
  </div>
</section>
