/* Thiết lập chung */
.container {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  font-family: 'Arial', sans-serif;
}

/* Card bao bọc nội dung */
.card {
  background: white;
  border-radius: 10px;
  padding: 20px;
}

/* Header */
.header {
  text-align: center;
  margin-bottom: 20px;
}

.header h1 {
  font-size: 24px;
  font-weight: bold;
  color: #14656E;
  text-transform: uppercase;
}

/* Grid container */
.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Chia thành 2 cột */
  gap: 20px; /* Khoảng cách giữa các ô */
  padding: 10px;
  align-items: center;
}

.col-span {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* Label */
label {
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 14px;
  color: #333;
}

/* Input và Select */
input, select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  width: 100%;
  transition: 0.3s;
  box-sizing: border-box;
}

input:focus, select:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

/* Ô chọn file */
input[type="file"] {
  padding: 5px;
}

/* Actions Button */
.actions {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 10px;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

button[type="submit"] {
  background-color: #14656E;
  color: white;
}

button[type="submit"]:hover {
  background-color: #226a72bf;
}




/* Responsive */
@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr; /* 1 cột trên màn hình nhỏ */
  }
}
