.footer {
  background-color: #14656E;
  padding: 20px 0;
  text-align: center;
  color: #ffffff;
  font-family: Arial, sans-serif;
  border-top: 3px solid #14656E;
}

.footer p {
  margin: 5px 0;
  font-size: 14px;
}

.footer .info {
  font-size: 15px;
  color: #dcdcdc;
}