<nav class="nav">
    <ul>
        <li><a routerLink="">Trang chủ</a></li>
        <li><a routerLink="/profile">Hồ sơ</a></li>
        <li><a routerLink="">Đặt lịch khám</a></li>
        <li><a routerLink="">Mua thuốc</a></li>
        <li><a routerLink="">Kết quả khám bệnh</a></li>
    </ul>
  </nav>
  <main class="main-container">
    <div class="image-container">
      <img src="assets/Anh_trang_chu.jpg" alt="Ảnh trang chủ"/>
    </div>
  </main>
  <div class="container">
      <section class="services">
          <h2 class="section-title">Dịch vụ nổi bật</h2>
          <div class="service-grid">
              <div class="service-box">
                  <img src="assets/Kham-ca-nhan-1.png" alt="Khám sức khỏe Gia đình">
                  <div class="overlay"></div>
                  <p class="service-text">Khám sức khỏe gia đình </p>
              </div>
              <div class="service-box">
                  <img src="assets/Kham-noi-vien-2.png" alt="Khám sức khỏe Doanh nghiệp nội viện">
                  <div class="overlay"></div>
                  <p class="service-text">Khám sức khỏe doanh nghiệp nội viện</p>
              </div>
              <div class="service-box large">
                  <img src="assets/home-khamluudong.jpg" alt="Khám sức khỏe Doanh nghiệp lưu động">
                  <div class="overlay"></div>
                  <p class="service-text">Khám sức khỏe doanh nghiệp lưu động</p>
              </div>
              <div class="service-box">
                  <img src="assets/kham-lai-xe-2.png" alt="Khám sức khỏe Lái xe">
                  <div class="overlay"></div>
                  <p class="service-text">Khám sức khỏe lái xe</p>
              </div>
              <div class="service-box">
                  <img src="assets/Kham-bao-hiem-1.png" alt="Khám Bảo hiểm">
                  <div class="overlay"></div>
                  <p class="service-text">Khám bảo hiểm</p>
              </div>
          </div>
      </section>
      
      <section class="specialties">
          <h2 class="section-title">Chuyên khoa khám bệnh</h2>
          <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
              
            <div class="specialty-card">
              <div class="icon-container"><i class="fas fa-stethoscope"></i></div>
              <div class="text-container">Khoa Nội Tổng Hợp</div>
            </div>
            
            <div class="specialty-card">
              <div class="icon-container"><i class="fas fa-user-md"></i></div>
              <div class="text-container">Khoa Ngoại</div>
            </div>
            
            <div class="specialty-card">
              <div class="icon-container"><i class="fas fa-baby"></i></div>
              <div class="text-container">Khoa Nhi</div>
            </div>
           
            <div class="specialty-card">
              <div class="icon-container"><i class="fas fa-tooth"></i></div>
              <div class="text-container">Khoa Răng Hàm Mặt</div>
            </div>
            
            <div class="specialty-card">
              <div class="icon-container"><i class="fas fa-allergies"></i></div>
              <div class="text-container">Khoa Da Liễu</div>
            </div>
            
            <div class="specialty-card">
              <div class="icon-container"><i class="fas fa-brain"></i></div>
              <div class="text-container">Khoa Tâm Thần</div>
            </div>
            
            <div class="specialty-card">
              <div class="icon-container"><i class="fas fa-venus-mars"></i></div>
              <div class="text-container">Khoa Sản Phụ khoa</div>
            </div>
            
            <div class="specialty-card">
              <div class="icon-container"><i class="fas fa-deaf"></i></div>
              <div class="text-container">Khoa Tai – Mũi – Họng</div>
            </div>
            
            <div class="specialty-card">
              <div class="icon-container"><i class="fas fa-eye"></i></div>
              <div class="text-container">Khoa Mắt</div>
            </div>
            
            <div class="specialty-card">
              <div class="icon-container"><i class="fas fa-vial"></i></div>
              <div class="text-container">Trung Tâm Xét Nghiệm</div>
            </div>
            
            <div class="specialty-card">
              <div class="icon-container"><i class="fas fa-x-ray"></i></div>
              <div class="text-container">Trung Tâm X-Quang</div>
            </div>
            
            <div class="specialty-card">
              <div class="icon-container"><i class="fas fa-wave-square"></i></div>
              <div class="text-container">Siêu Âm</div>
            </div>
          </div>
        </section>
        <div class="main-content">
          <div class="content">
            <div class="image-box">
                <img src="assets/Anh_nen.jpg" alt="">
            </div>
            <div class="text-box">
                <h2>GIỚI THIỆU</h2>
                <p>Địa chỉ chăm sóc sức khoẻ ban đầu tin cậy!</p>
                <p>Phòng khám Medica trực thuộc Công ty Cổ Phần Sức khỏe và Môi trường Hà Nội, được thành lập với sứ mệnh và tầm nhìn “TIÊN PHONG TRONG LĨNH VỰC CHĂM SÓC SỨC KHỎE BAN ĐẦU”.</p>
                <p>Phòng khám Medica tại địa chỉ số 80A Nguyễn Thanh Bình, Phường Vạn Phúc, Quận Hà Đông, Thành phố Hà Nội. Thành lập từ năm 2015 bởi đội ngũ các y bác sĩ đầu ngành nhiều năm kinh nghiệm đến từ các bệnh viện tuyến Trung ương giàu y đức, tâm huyết với nghề và có trình độ chuyên môn cao.</p>
                <button>Chi tiết</button>
            </div>
          </div>  
        </div>
  </div>