<header class="header">
    <nav class = "top-bar"></nav>
    <div class = "layout">
        <div class="search-box">
            <input type="text" placeholder="Tìm kiếm..." class="search-input"/>
            <button class="search-button">
                <i class="fas fa-search"></i>
            </button>
        </div>
        <div class="logo">
            <img src="/src/app/assets/cardiogram.png" alt="Logo">
            <span>Medicia</span>
        </div>
        <div class="account-cart">
            <div class="account">
                <i class="fas fa-user"></i>
                <span>Tài khoản</span>
            </div>
            <div class="cart">
                <i class="fas fa-shopping-cart"></i>
                <span>Giỏ hàng</span>
            </div>
        </div>
    </div>    
</header>
<nav class="nav">
    <ul>
        <li><a routerLink="/">Trang chủ</a></li>
        <li><a routerLink="/services">Giới thiệu</a></li>
        <li><a routerLink="/specialties">Đặt lịch khám</a></li>
        <li><a routerLink="">Mua thuốc</a></li>
        <li><a routerLink="">Hướng dẫn khách hàng</a></li>
    </ul>
</nav>
