<header class="header">
    <nav class="top-bar"></nav>
    <div class="layout">
        <div class="search-box">
            <input type="text" placeholder="Tìm kiếm..." class="search-input"/>
            <button class="search-button">
                <i class="fas fa-search"></i>
            </button>
        </div>
        <div class="logo">
            <img src="./assets/cardiogram.png" alt="Logo">
            <span>Medicia</span>
        </div>
        <div class="account-cart">
            <div class="account">
                <i class="fa-solid fa-arrow-right-from-bracket"></i>
                <button (click)="openLogoutModal()">Đăng xuất</button>
            </div>
            <div class="cart">
                <i class="fas fa-shopping-cart"></i>
                <span>Giỏ hàng</span>
            </div>
        </div>
    </div>    

    <div class="modal-overlay" *ngIf="isLogoutModalOpen" (click)="closeLogoutModal()">
        <div class="modal-content" (click)="$event.stopPropagation()"> 
            <!-- Ngăn sự kiện click bên trong modal -->
            <h3>Xác nhận đăng xuất</h3>
            <p>Bạn có chắc chắn muốn đăng xuất không?</p>
            <div class="modal-buttons">
                <button class="confirm" (click)="logout()">Đăng xuất</button>
                <button class="cancel" (click)="closeLogoutModal()">Hủy</button>
            </div>
        </div>
    </div>    
</header>
