<div class="admin-container">
    <!-- Sidebar -->
    <div class="sidebar">
      <h2>Admin</h2>
      <button class="menu-item active">
        <i class="fas fa-home"></i> Trang chủ
      </button>
      <button class="menu-item" (click)="openCreateAccount()">
        <i class="fas fa-user-plus"></i> Tạo tài khoản
      </button>
      <button class="menu-item" (click)="openListAccount()">
        <i class="fas fa-user"></i> Tài khoản
      </button>
    </div>
  
    <!-- Main Content -->
    <div class="content">
      <header>
        <h1 class="title">Trang chủ</h1>
      </header>
      <div class="card-container">
        <div class="card" (click)="openCreateAccount()">
          <i class="fas fa-user-plus card-icon"></i>
          <h3>Tạo tài khoản bác sĩ</h3>
          <p>Thêm tài khoản mới cho bác sĩ.</p>
        </div>
        <div class="card" (click)="openListAccount()">
            <i class="fas fa-user card-icon"></i>
            <h3>Tài khoản bác sĩ</h3>
            <p></p>
          </div>
      </div>
    </div>
</div>