<footer class="footer">
    <div class="footer-container">
        <div class="footer-services">
            <h3 class="footer-title">Dịch vụ y tế</h3>
            <ul>
                <li>Khám sức khỏe doanh nghiệp lưu động</li>
                <li>Khám sức khỏe cá nhân</li>
                <li>Khám bảo hiểm</li>
                <li>Khám sức khỏe lái xe</li>
                <li class="separator">Hướng dẫn khách hàng</li> 
            </ul>
        </div>
        <div class="footer-info">
            <h3 class="footer-title">Medicia</h3>
            <p>Phòng khám Medicia</p>
            <p>Email: informedicia.vn</p>
            <p>Hotline: 0912 345 678</p>
            <p>Địa chỉ: 84A Nguyễn Thanh Bình, Hà Đông, Hà Nội</p>
            <p>Giờ mở cửa: 7h30 - 20h hàng ngày</p>
        </div>
        <div class="content">
            <img src="./assets/Anh_dia_chi.png" alt="Ảnh địa chỉ">
        </div>
    </div>
</footer>
