<main class="main">
  <!-- Header -->
  <ng-container *ngIf="!isAuthPage">
    <app-header *ngIf="!isDoctor"></app-header>
    <app-header-doctor *ngIf="isDoctor"></app-header-doctor>
  </ng-container>

  <!-- Content -->
  <div class="content">
    <router-outlet></router-outlet>  
  </div>

  <!-- Footer -->
  <ng-container *ngIf="!isAuthPage">
    <app-footer *ngIf="!isDoctor"></app-footer>
    <app-footer-doctor *ngIf="isDoctor"></app-footer-doctor>
  </ng-container>
</main>
