<main class="main-content">
    <div class="image-container">
        <img src="/src/app/assets/Anh trang chu.jpg" alt="Ảnh trang chủ"/>
    </div>
</main>
<div class="container">
    <section class="services">
        <h2 class="section-title">Dịch vụ nổi bật</h2>
        <div class="service-grid">
            <div class="service-box">
                <img src="" alt="Khám sức khỏe Gia đình">
                <div class="overlay"></div>
                <p class="service-text">Khám sức khỏe Gia đình (Cá nhân)</p>
            </div>
            <div class="service-box">
                <img src="" alt="Khám sức khỏe Doanh nghiệp nội viện">
                <div class="overlay"></div>
                <p class="service-text">Khám sức khỏe Doanh nghiệp nội viện</p>
            </div>
            <div class="service-box large">
                <img src="" alt="Khám sức khỏe Doanh nghiệp lưu động">
                <div class="overlay"></div>
                <p class="service-text">Khám sức khỏe Doanh nghiệp lưu động</p>
            </div>
            <div class="service-box">
                <img src="" alt="Khám sức khỏe Lái xe">
                <div class="overlay"></div>
                <p class="service-text">Khám sức khỏe Lái xe</p>
            </div>
            <div class="service-box">
                <img src="" alt="Khám Bảo hiểm">
                <div class="overlay"></div>
                <p class="service-text">Khám Bảo hiểm</p>
            </div>
        </div>
    </section>
    
    <section class="specialties">
        <h2 class="section-title">Chuyên khoa khám bệnh</h2>
        <div class="specialty-grid">
            <div class="specialty-box">Khoa nội tổng hợp</div>
            <div class="specialty-box">Khoa ngoại</div>
            <div class="specialty-box">Khoa nhi</div>
            <div class="specialty-box">Khoa Răng - Hàm - Mặt</div>
            <div class="specialty-box">Khoa Tai - Mũi - Họng</div>
            <div class="specialty-box">Khoa sản phụ khoa</div>
            <div class="specialty-box">Khoa tâm thần</div>
            <div class="specialty-box">Khoa da liễu</div>
            <div class="specialty-box">Khoa mắt</div>
            <div class="specialty-box">Trung tâm xét nghiệm</div>
            <div class="specialty-box">Trung tâm X-quang</div>
            <div class="specialty-box">Siêu âm</div>
        </div>
    </section>
</div>