<div class="container">
    <main class="content">
        <h1 class="content-title">Trang chủ</h1>
        <section class="cards">
            <div class="card" (click)="GoToMedicalRecords()">
                <i class="fas fa-user-plus icon green"></i>
                <div class="card-info">
                    <h2>TIẾP NHẬN BỆNH NHÂN</h2>
                    <p>Tiếp nhận thông tin</p>
                </div>
            </div>
            <div class="card">
                <i class="fas fa-heartbeat icon green"></i>
                <div class="card-info">
                    <h2>ĐO CHỈ SỐ</h2>
                    <p>Nhịp tim, Huyết áp, BMI...</p>
                </div>
            </div>
            <div class="card"(click)="GoToRecordsList()">
                <i class="fas fa-history icon green"></i>
                <div class="card-info">
                    <h2>TIỀN SỬ</h2>
                    <p>Tiền sử bệnh nhân...</p>
                </div>
            </div>
            <div class="card">
                <i class="fas fa-stethoscope icon green"></i>
                <div class="card-info">
                    <h2>PHÒNG KHÁM</h2>
                    <p>Phòng chuyên khoa</p>
                </div>
            </div>
            <div class="card" (click)="goToSchedule()">
              <i class="fas fa-calendar-alt icon green"></i>
              <div class="card-info">
                <h2>LỊCH HẸN</h2>
                <p>Danh sách lịch hẹn của bệnh nhân</p>
              </div>
            </div>
  
            <div class="card">
                <i class="fas fa-clock icon green "></i>
                <div class="card-info">
                    <h2>THIẾT BỊ ĐEO TAY</h2>
                    <p>Đo sức khỏe bệnh nhân</p>
                </div>
            </div>
        </section>
    </main>
  </div>
  