<header class="header">
    <nav class = "top-bar"></nav>
    <div class = "layout">
        <div class="search-box">
            <input type="text" placeholder="Tìm kiếm..." class="search-input"/>
            <button class="search-button">
                <i class="fas fa-search"></i>
            </button>
        </div>
        <div class="logo">
            <img src="./assets/cardiogram.png" alt="Logo">
            <span>Medicia</span>
        </div>
        <div class="account-cart">
            <div class="account">
                <i class="fas fa-user"></i>
                <button routerLink="/login">Đăng nhập</button>
            </div>
            <div class="cart">
                <i class="fas fa-shopping-cart"></i>
                <span>Giỏ hàng</span>
            </div>
        </div>
    </div>    
</header>
<nav class="nav">
    <ul>
        <li><a routerLink="/home-doctor">Trang chủ</a></li>
        <li><a routerLink="/patient-record">Xem hồ sơ bệnh nhân</a></li>
        <li><a routerLink="">Tạo hồ sơ khám</a></li>
        <li><a routerLink="">Xem lịch hẹn</a></li>
        <li><a routerLink="">Kê đơn thuốc</a></li>
    </ul>
</nav>
