<div class="container">
    <h1 class="title">Tạo tài khoản bác sĩ</h1>

    <form [formGroup]="doctorForm" (ngSubmit)="createDoctor()">
        <div>
            <label for="username">Tên đăng nhập:</label>
            <input id="username" formControlName="username" type="text" />
            <small *ngIf="doctorForm.get('username')?.invalid && doctorForm.get('username')?.touched" class="error">
                Tên đăng nhập không được để trống.
            </small>
        </div>

        <div>
            <label for="password">Mật khẩu:</label>
            <input id="password" formControlName="password" type="password" />
            <small *ngIf="doctorForm.get('password')?.invalid && doctorForm.get('password')?.touched" class="error">
                Mật khẩu ít nhất 6 ký tự.
            </small>
        </div>

        <div>
            <label for="department">Phòng ban:</label>
            <select id="department" formControlName="department" class="form-control">
                <option value="" disabled selected>Chọn phòng ban</option>
                <option *ngFor="let dept of departments" [value]="dept">{{ dept }}</option>
            </select>
            <small *ngIf="doctorForm.get('department')?.invalid && doctorForm.get('department')?.touched" class="error">
                Phòng ban không được để trống.
            </small>
        </div>

        <button type="submit" [disabled]="doctorForm.invalid">Tạo tài khoản</button>
    </form>
</div>